{% extends 'base.html' %}
{% load static %}
{% load normalize_text %}
{% block header_extend %}
    <link href="{% static 'css/quiz.css' %}" rel="stylesheet">
{% endblock %}
{% block breadcrumps %}
    {% include "knowledge_base/breadcrumbs.html" with breadcrumbs=breadcrumbs %}
{% endblock %}
{% block content %}
    {{ quiz_data.questions|json_script:"quiz_questions" }}
    {{ quiz_data.results|json_script:"quiz_results" }}
    <div class="main-content-header blue">
        <div class="container">
            <div class="main-columns">
                <div id="main_content" class="main-content">
                    <div class="content-header-single header-single-test test-single" id="main-test-container">
                        <div class="container">
                            <div class="content-header-single-img">
                                <img itemprop="image" src="{{ quiz_data.img_url }}" alt="">
                            </div>
                            <div class="content-header-single-info">
                                <div class="single-category-title">Тест</div>
                                <h1 itemprop="headline">{{ quiz_data.title }}</h1>
                                <div class="content-time">
                                    <span><i class="fa fa-eye"></i> {{ quiz_data.views }} </span>
                                    <span><i
                                            class="fa fa-clock-o"></i> {{ quiz_data.time_for_read|normalize_text_for_numbers:"minutes" }} </span>
                                </div>

                                <div class="separator">
                                    <span class="separator-md"></span>
                                </div>
                                <div class="begin-test">
                                    <button id="test-start" class="begin-test-button">Начать тест</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <template id="question-template">
            <div class="header-single-test" id="answer-test-container">
                <div class="text-center">
                    <div class="col-12 m-auto test-question-container" id="answer-list">
                        <div class="article-main-row-description">
                            <h6 class="active-color" id="question-number"></h6>
                            <h2 class="album-title m-auto" id="question-title"></h2>
                            <hr>
                            <div id="answers" class="row m-auto"></div>
                            <div class="row m-auto text-center">
                                <button id="submit-button" class="continue-test-button m-auto">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <template id="answer-item-template">
            <div class="col-md-6 text-center mt-4">
                <div class="row m-2 answer-container">
                    <div class="col-2">
                        <h4 class="answer-counter m-auto"></h4>
                        <i class="answer-icon" style="::before"></i>
                    </div>
                    <div class="col-10 text-left">
                        <h6 class="answer-title ml-0"></h6>
                    </div>
                </div>
            </div>
        </template>

        <template id="test_result_template">
            <div class="header-single-test d-none" id="result-test-container">
                <div class="text-center">
                    <div class="col-12 m-auto test-question-container">
                        <div class="row m-auto">
                            <div class="col-8 m-auto">
                                <div class="album-image z-index-100">
                                    <div class="music-img-box d-inline-block">
                                        <div class="img-box test-question-photo-container">
                                            <img class="retina box-rounded-md"
                                                 src="{{ quiz_data.img_url }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="article-main-row-description">

                            <h6 class="active-color" id="your-result">Ваш результат: </h6>
                            <p class="sub-title mt-2" id="description-result">описание</p>

                            <div class="row text-center mt-4 mb-2">
                                <div class="share-buttons m-auto">
                                    <a href="https://vk.com/share.php?url={{ request.path }}" target="_blank"
                                       class="external">
                                        <button type="submit" class="share-button"><i class="fa fa-vk"></i>
                                        </button>
                                    </a>
                                    <a href="https://t.me/share/url?url={{ request.path }}" target="_blank"
                                       class="external">
                                        <button type="submit" class="share-button"><i
                                                class="fa fa-telegram"></i></button>
                                    </a>
                                    <a href="https://wa.me/?text={{ request.path }}" target="_blank"
                                       class="external">
                                        <button type="submit" class="share-button"><i
                                                class="fa fa-whatsapp"></i></button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <script type="text/javascript" src="{% static 'js/quiz.js' %}"></script>
{% endblock %}