{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Английский язык бесплатно</title>
    <meta name="description"
          content='Aнглийский язык и все об изучении английского языка. Грамматика английского языка и курсы английского языка онлайн, тексты на английском и англо-русские словари.'>
    <meta name="author" content="">

    <meta property="og:title" content="Английский язык бесплатно "/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="/"/>
    <meta property="og:description"
          content='Aнглийский язык и все об изучении английского языка. Грамматика английского языка и курсы английского языка онлайн, тексты на английском и англо-русские словари.'/>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script
            src="https://code.jquery.com/jquery-3.6.1.slim.js"
            integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk="
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9fb1773115.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/build.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
    <link rel="stylesheet" href="{% static 'css/study.css' %}">

    {% block header_extend %}
    {% endblock %}
</head>
<body>


<header id="header" class="header has-banner">
    <div class="header-inner">

        <div class="container">
            <div class="header-menu-wrap">
                <div class="header-menu-brand">
                    <div class="header-mobile-icon">
                        <a href="#" class="navbar-toggler toggle-off-canvas-main-menu"
                           data-target="#primary-menu-offcanvas">
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                        </a>
                    </div>
                    <a class="logo-wrap" href="/">
                        <span class="logo">
                            <img src="/assets/images/study/study-logo-header.svg" alt="">
                        </span>
                    </a>
                </div>
                <div class="header-menu">
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse" id="navbarSupportedContent">

                            <ul class="navbar-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
                                <li itemprop="name" class="menu-item ">
                                    <a itemprop="url" class="nav-link" href="{% url 'handbook' %}">Справочник</a>
                                </li>
                                <li itemprop="name" class="menu-item ">
                                    <a itemprop="url" class="nav-link" href="{% url 'topics-categories' %}">Топики</a>
                                </li>
                                <li class="menu-item ">
                                    <a class="nav-link beta" href="{% url 'phrasebook-categories' %}">Разговорник </a>
                                </li>
                                <li class="menu-item">
                                    <a class="nav-link link-hash" data-hash="reviews"
                                       href="{% url 'articles-categories' %}">Статьи</a>
                                </li>
                                <li class="menu-item">
                                    <a class="nav-link link-hash" data-hash="reviews"
                                       href="{% url 'quizzes-categories' %}">Тесты</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
</header>
{% block breadcrumps_and_content %}
    {% block breadcrumps %}
    {% endblock %}
    {% block content_header %}
    {% endblock %}
    {% block content %}
        {{ materials_by_sections|json_script:"materials_by_sections" }}
        <div class="tabs-content logo-rotate-bg">
            <div class="logo-rotate-bg-lightgray"></div>
            <div class="logo-rotate-bg-white"></div>
            <div class="logo-rotate-bg-content">
                <div id="browse-overview">
                    <section class="content-feed-wrap article-feed-large">
                        <div class="container">
                            <h1>
                                <span class="text-blue">Английский язык</span> для всех
                            </h1>
                            {% if large_feed %}
                                <div class="feed-list-wrapper">

                                    <div class="feed-list-row-large">
                                        <div class="feed-column feed-column-large">

                                            <div class="feed-item ">
                                                <div class="feed-item-inner">
                                                    <div class="feed-item-header"
                                                         style="background-image: url({{ large_feed.0.img_url }})">
                                                        <a href="{{ large_feed.0.url_section }}" class="info-tape">
                                                            СТАТЬЯ
                                                        </a>
                                                        <div class="activity-info">
                                                            <div class="activity-views">
                                                                {{ large_feed.0.views }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="{{ large_feed.0.url }}"
                                                       class="feed-item-content-link">
                                                        <div class="feed-item-content-link-inner">
                                                            <div class="feed-item-content">
                                                                <h4>{{ large_feed.0.title }}</h4>
                                                            </div>
                                                            <div class="feed-item-footer">
                                                                <i class="fa-solid fa-arrow-right"></i>
                                                            </div>
                                                        </div>
                                                        <div class="arrows-border"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        {% if large_feed|length > 1 %}
                                            <div class="feed-column feed-column-small">
                                                {% for article in large_feed %}
                                                    {% if loop.counter > 1 %}
                                                        <div class="feed-item ">
                                                            <div class="feed-item-inner">
                                                                <div class="feed-item-header"
                                                                     style="background-image: url({{ article.img_url }})">
                                                                    <a href="{{ article.url_section }}"
                                                                       class="info-tape">
                                                                        СТАТЬЯ
                                                                    </a>
                                                                    <div class="activity-info">
                                                                        <div class="activity-views">
                                                                            {{ article.views }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a href="{{ article.url }}"
                                                                   class="feed-item-content-link">
                                                                    <div class="feed-item-content-link-inner">
                                                                        <div class="feed-item-content">
                                                                            <h4>{{ article.title }}</h4>
                                                                        </div>
                                                                        <div class="feed-item-footer">
                                                                            <i class="fa-solid fa-arrow-right"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="arrows-border"></div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}

                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                </div>
                            {% endif %}
                    </section>
                </div>


                <section class="content-feed-wrap">
                    <div class="container">
                        <div class="tabs-wrap">
                            <div class="tabs-header">
                                <div class="tabs-header-title">
                                    <h2 class="title-icon-wrap">
                                        <div class="title-icon">
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <span class="text-blue">Материалы</span> по рубрикам
                                    </h2>
                                </div>
                                <div class="tabs-header-menu">
                            
                            
                                <span id="topics-button" data-href="topics-tab"
                                      class="tabs-link button-transparent active">
                                    Топики
                                    
                                </span>

                                    <span id="phrasebook-button" data-href="phrasebook-tab"
                                          class="tabs-link button-transparent ">
                                    Разговорник
                                    
                                </span>

                                    <span id="articles-button" data-href="articles-tab"
                                          class="tabs-link button-transparent ">
                                    Статьи
                                    
                                </span>

                                    <span id="tests-button" data-href="tests-tab" class="tabs-link button-transparent ">
                                    Тесты
                                    
                                </span>

                                </div>
                            </div>
                            <div class="tabs-content-wrap">
                                <div id="material_tab" class="tabs active">
                                    <div class="feed-list-wrapper">
                                        <div id="material-feed-list" class="feed-list-row">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <template id="feed-item-template">
            <div class="feed-item">
                <div class="feed-item-inner">
                    <div class="feed-item-header"
                         style="background-image: url('')">
                        <a href="" class="info-tape">
                        </a>
                        <div class="activity-info">
                            <div class="activity-views">
                            </div>
                        </div>
                    </div>
                    <a href=""
                       class="feed-item-content-link">
                        <div class="feed-item-content-link-inner">
                            <div class="feed-item-content">
                                <h4></h4>
                            </div>
                            <div class="feed-item-footer">
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                        <div class="arrows-border"></div>
                    </a>
                </div>
            </div>

        </template>
        <script type="text/javascript" src="{% static 'js/material_feed.js' %}"></script>
    {% endblock content %}
{% endblock %}
<footer class="footer" id="site-footer">


    <div class="container">
        <div class="row footer-row">
            <div class="col-lg-4 col-md-8">
                <div class="footer-logo-wrap">
                    <a class="logo-wrap" href="/">
                        <span class="logo-name">
                                Сайт изучения английского языка
                            </span>
                    </a>
                    <div>Информационно-образовательный портал</div>
                </div>
                <div class="footer-contacts">
                    <a href="tel:+7 (499) 111 111 11" class="footer-phone">+7 (499) 111 111 11</a>
                    <a href="mailto:info@yandex.ru" class="footer-email">info@yandex.ru</a>
                </div>
            </div>
        </div>
    </div>

</footer>

<div class="off-canvas-overlay"></div>
<div id="up" class="button-up-wrap">
    <div class="button-up"></div>
</div>

</body>
</html>