{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Английский язык бесплатнj </title>
    <meta name="description"
          content='Aнглийский язык и все об изучении английского языка. Грамматика английского языка и курсы английского языка онлайн, тексты на английском и англо-русские словари.'>
    <meta name="author" content="">

    <meta property="og:title" content="Английский язык бесплатно "/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="/"/>
    <meta property="og:description"
          content='Aнглийский язык и все об изучении английского языка. Грамматика английского языка и курсы английского языка онлайн, тексты на английском и англо-русские словари.'/>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendors/iconfonts/font-awesome/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/build.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
    <link rel="stylesheet" href="{% static 'css/study.css' %}">

    {% block header_extend %}
    {% endblock %}
</head>
<body>


<header id="header" class="header has-banner">
    <div class="header-inner">

        <div class="container">
            <div class="header-menu-wrap">
                <div class="header-menu-brand">
                    <div class="header-mobile-icon">
                        <a href="#" class="navbar-toggler toggle-off-canvas-main-menu"
                           data-target="#primary-menu-offcanvas">
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                        </a>
                    </div>
                    <a class="logo-wrap" href="/">
                        <span class="logo">
                            <img src="/assets/images/study/study-logo-header.svg" alt="">
                        </span>
                    </a>
                </div>
                <div class="header-menu">
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse" id="navbarSupportedContent">

                            <ul class="navbar-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
                                <li itemprop="name" class="menu-item ">
                                    <a itemprop="url" class="nav-link" href="/handbook">Справочник</a>
                                </li>
                                <li itemprop="name" class="menu-item ">
                                    <a itemprop="url" class="nav-link" href="/repetitor">Топики</a>
                                </li>
                                <li class="menu-item ">
                                    <a class="nav-link beta" href="/schools">Разговорник </a>
                                </li>
                                <li class="menu-item">
                                    <a class="nav-link link-hash" data-hash="reviews" href="/schools">Статьи</a>
                                </li>
                                <li class="menu-item">
                                    <a class="nav-link link-hash" data-hash="reviews" href="/schools">Тесты</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
</header>
{% block content_header %}

{% endblock %}
{% block content %}
    <div class="tabs-content logo-rotate-bg">
        <div class="logo-rotate-bg-lightgray"></div>
        <div class="logo-rotate-bg-white"></div>
        <div class="logo-rotate-bg-content">
            <div id="browse-overview">
                <section class="content-feed-wrap article-feed-large">
                    <div class="container">
                        <h1>
                            <span class="text-blue">Английский язык</span> для всех
                        </h1>
                        <div class="feed-list-wrapper">

                            <div class="feed-list-row-large">
                                <div class="feed-column feed-column-large">

                                    <div class="feed-item ">
                                        <div class="feed-item-inner">
                                            <div class="feed-item-header"
                                                 style="background-image: url('/uploads/server/cUh6pRRMLSfYnHAh.png')">
                                                <a href="/article" class="info-tape">
                                                    СТАТЬЯ
                                                </a>
                                                <div class="activity-info">
                                                    <div class="activity-views">
                                                        565680
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="/article/sovety/top-10-onlayn-shkol-angliyskogo-yazyka"
                                               class="feed-item-content-link">
                                                <div class="feed-item-content-link-inner">
                                                    <div class="feed-item-content">
                                                        <h4>ТОП-10 онлайн школ английского языка</h4>
                                                    </div>
                                                    <div class="feed-item-footer">
                                                        <div class="publication-date">13 ноября 2019 | 17:31</div>
                                                        <div class="arrow-to-right"></div>
                                                    </div>
                                                </div>
                                                <div class="arrows-border"></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="feed-column feed-column-small">

                                    <div class="feed-item ">
                                        <div class="feed-item-inner">
                                            <div class="feed-item-header"
                                                 style="background-image: url('/uploads/server/LItyVindZRcrO6MK.png')">
                                                <a href="/article" class="info-tape">
                                                    СТАТЬЯ
                                                </a>
                                                <div class="activity-info">
                                                    <div class="activity-views">
                                                        303
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="/article/sovety/luchshie-onlayn-kursy-koreyskogo-yazyka"
                                               class="feed-item-content-link">
                                                <div class="feed-item-content-link-inner">
                                                    <div class="feed-item-content">
                                                        <h4>Топ-5 онлайн курсов корейского языка</h4>
                                                    </div>
                                                    <div class="feed-item-footer">
                                                        <div class="publication-date">20 сентября 2022 | 10:30</div>
                                                        <div class="arrow-to-right"></div>
                                                    </div>
                                                </div>
                                                <div class="arrows-border"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="feed-item ">
                                        <div class="feed-item-inner">
                                            <div class="feed-item-header"
                                                 style="background-image: url('/uploads/server/ohpppFjHoHTXCgJ1.png')">
                                                <a href="/article" class="info-tape">
                                                    СТАТЬЯ
                                                </a>
                                                <div class="activity-info">
                                                    <div class="activity-views">
                                                        361
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="/article/sovety/kak-vyuchit-kitayskiy-yazyk-onlayn"
                                               class="feed-item-content-link">
                                                <div class="feed-item-content-link-inner">
                                                    <div class="feed-item-content">
                                                        <h4>Как выучить китайский язык онлайн</h4>
                                                    </div>
                                                    <div class="feed-item-footer">
                                                        <div class="publication-date">14 сентября 2022 | 15:35</div>
                                                        <div class="arrow-to-right"></div>
                                                    </div>
                                                </div>
                                                <div class="arrows-border"></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="feed-list-row">

                                <div class="feed-item ">
                                    <div class="feed-item-inner">
                                        <div class="feed-item-header"
                                             style="background-image: url('/uploads/server/LfZz3gAHSmCYpfxn.jpg')">
                                            <a href="/article" class="info-tape">
                                                СТАТЬЯ
                                            </a>
                                            <div class="activity-info">
                                                <div class="activity-views">
                                                    420
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/article/sovety/mify-o-shkolnom-onlayn-obrazovanii-pochemu-ego-ne-nado-boyatsya"
                                           class="feed-item-content-link">
                                            <div class="feed-item-content-link-inner">
                                                <div class="feed-item-content">
                                                    <h4>Мифы о школьном онлайн-образовании: почему его не надо
                                                        бояться</h4>
                                                </div>
                                                <div class="feed-item-footer">
                                                    <div class="publication-date">11 сентября 2022 | 13:53</div>
                                                    <div class="arrow-to-right"></div>
                                                </div>
                                            </div>
                                            <div class="arrows-border"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="feed-item ">
                                    <div class="feed-item-inner">
                                        <div class="feed-item-header"
                                             style="background-image: url('/uploads/server/Wp1VsOAwOrQpM3BP.jpg')">
                                            <a href="/article" class="info-tape">
                                                СТАТЬЯ
                                            </a>
                                            <div class="activity-info">
                                                <div class="activity-views">
                                                    568
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/article/sovety/obzor-luchshih-programm-dlya-sozdaniya-prezentaciy-na-angliyskom-reyting-2022-2023-godov"
                                           class="feed-item-content-link">
                                            <div class="feed-item-content-link-inner">
                                                <div class="feed-item-content">
                                                    <h4>Обзор лучших программ для создания презентаций на английском:
                                                        рейтинг 2022-2023 годов</h4>
                                                </div>
                                                <div class="feed-item-footer">
                                                    <div class="publication-date">7 сентября 2022 | 10:28</div>
                                                    <div class="arrow-to-right"></div>
                                                </div>
                                            </div>
                                            <div class="arrows-border"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="feed-item ">
                                    <div class="feed-item-inner">
                                        <div class="feed-item-header"
                                             style="background-image: url('/uploads/server/1wwaRhv8uUQwigJt.png')">
                                            <a href="/article" class="info-tape">
                                                СТАТЬЯ
                                            </a>
                                            <div class="activity-info">
                                                <div class="activity-views">
                                                    636
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/article/sovety/top-5-shkol-koreyskogo-yazyka-v-moskve"
                                           class="feed-item-content-link">
                                            <div class="feed-item-content-link-inner">
                                                <div class="feed-item-content">
                                                    <h4>Топ-5 школ корейского языка в Москве</h4>
                                                </div>
                                                <div class="feed-item-footer">
                                                    <div class="publication-date">2 сентября 2022 | 13:03</div>
                                                    <div class="arrow-to-right"></div>
                                                </div>
                                            </div>
                                            <div class="arrows-border"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="feed-item ">
                                    <div class="feed-item-inner">
                                        <div class="feed-item-header"
                                             style="background-image: url('/uploads/server/QncyaAUSi6ftbviw.png')">
                                            <a href="/article" class="info-tape">
                                                СТАТЬЯ
                                            </a>
                                            <div class="activity-info">
                                                <div class="activity-views">
                                                    883
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/article/sovety/luchshie-kursy-dlya-polucheniya-sertifikata-tefl"
                                           class="feed-item-content-link">
                                            <div class="feed-item-content-link-inner">
                                                <div class="feed-item-content">
                                                    <h4>Лучшие курсы для получения сертификата TEFL</h4>
                                                </div>
                                                <div class="feed-item-footer">
                                                    <div class="publication-date">31 августа 2022 | 10:27</div>
                                                    <div class="arrow-to-right"></div>
                                                </div>
                                            </div>
                                            <div class="arrows-border"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


            <section class="content-feed-wrap">
                <div class="container">
                    <div class="tabs-wrap">
                        <div class="tabs-header">
                            <div class="tabs-header-title">
                                <h2 class="title-icon-wrap">
                                    <div class="title-icon">
                                        <img src="/assets/images/icons/star.svg" alt="">
                                    </div>
                                    <span class="text-blue">Материалы</span> по рубрикам
                                </h2>
                            </div>
                            <div class="tabs-header-menu">
                            
                            
                                <span data-href="topics-tab" class="tabs-link button-transparent active">
                                    Топики
                                    
                                </span>

                                <span data-href="phrasebook-tab" class="tabs-link button-transparent ">
                                    Разговорник
                                    
                                </span>

                                <span data-href="articles-tab" class="tabs-link button-transparent ">
                                    Статьи
                                    
                                </span>

                                <span data-href="tests-tab" class="tabs-link button-transparent ">
                                    Тесты
                                    
                                </span>

                            </div>
                        </div>
                        <div class="tabs-content-wrap">

                            <div id="topics-tab" class="tabs active">
                                <div class="feed-list-wrapper">
                                    <div class="feed-list-row">

                                        <div class="feed-item topics">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/nb8JAQw5FYnJWhaY.jpeg')">
                                                    <a href="/topics" class="info-tape">
                                                        ТОПИК
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            10382
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/topics/literatura/books-and-libraries"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>Books and libraries</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">18 февраля 2020 | 15:37</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="feed-item topics">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/eYv2ZzoKkJJERnMc.jpg')">
                                                    <a href="/topics" class="info-tape">
                                                        ТОПИК
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            156909
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/topics/rozhdestvo-i-novyy-god-v-angloyazychnyh-stranah/how-i-spend-new-year"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>How I spend New Year (Как я провожу Новый год)</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">24 декабря 2019 | 12:26</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="feed-item topics">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/JbY0L2P9hPVE3k5A.jpg')">
                                                    <a href="/topics" class="info-tape">
                                                        ТОПИК
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            68308
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/topics/rozhdestvo-i-novyy-god-v-angloyazychnyh-stranah/new-years-celebration-in-russia"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>New Year’s celebration in Russia</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">10 декабря 2019 | 0:19</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="feed-item topics">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/a5rRZawzxshV7NSA.jpg')">
                                                    <a href="/topics" class="info-tape">
                                                        ТОПИК
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            19077
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/topics/rozhdestvo-i-novyy-god-v-angloyazychnyh-stranah/why-i-love--new-years-eve"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>Why I love New Year’s Eve. Почему я люблю Новый год</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">4 декабря 2019 | 11:31</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="phrasebook-tab" class="tabs ">
                                <div class="feed-list-wrapper">
                                    <div class="feed-list-row">

                                        <div class="feed-item phrasebook">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/nXqCvtZ3moi7gOJg.jpeg')">
                                                    <a href="/phrasebook" class="info-tape">
                                                        РАЗГОВОРНИК
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            14794
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/phrasebook/sredstva-svyazi/telefon"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>Телефон</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">2 апреля 2019 | 17:43</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="feed-item phrasebook">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/UQNhAnREdRNxAAzk.jpg')">
                                                    <a href="/phrasebook" class="info-tape">
                                                        РАЗГОВОРНИК
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            12664
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/phrasebook/sredstva-svyazi/telegraf"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>Телеграф</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">2 апреля 2019 | 17:37</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="feed-item phrasebook">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/EJwq7o933yqFQkff.jpg')">
                                                    <a href="/phrasebook" class="info-tape">
                                                        РАЗГОВОРНИК
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            14299
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/phrasebook/sredstva-svyazi/pochta"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>Почта</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">2 апреля 2019 | 17:35</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="feed-item phrasebook">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/gFlF6qWP4IJdWqfb.jpg')">
                                                    <a href="/phrasebook" class="info-tape">
                                                        РАЗГОВОРНИК
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            12402
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/phrasebook/vyzov-policii/vyzov-policii"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>Вызов полиции</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">2 апреля 2019 | 17:27</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="articles-tab" class="tabs ">
                                <div class="feed-list-wrapper">
                                    <div class="feed-list-row">

                                        <div class="feed-item ">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/WZRurtYpBy9VhPLF.png')">
                                                    <a href="/article" class="info-tape">
                                                        СТАТЬЯ
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            721
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/article/sovety/kak-bystro-vspomnit-shkolnuyu-programmu-sovety-ekspertov"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>Как быстро вспомнить школьную программу? Советы
                                                                экспертов</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">26 августа 2022 | 12:10</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="feed-item ">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/Vf5tYok8s4DCi5Ex.png')">
                                                    <a href="/article" class="info-tape">
                                                        СТАТЬЯ
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            595
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/article/sovety/ucheba-v-onlayn-shkole-kakie-plyusy-i-komu-podoydet"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>Учеба в онлайн-школе: какие плюсы и кому подойдет?</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">25 августа 2022 | 11:12</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="feed-item ">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/OFOuYHLqH0m1saqx.jpg')">
                                                    <a href="/article" class="info-tape">
                                                        СТАТЬЯ
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            794
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/article/sovety/top-5-shkol-yaponskogo-yazyka-v-moskve"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>Топ-5 школ японского языка в Москве</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">20 августа 2022 | 22:48</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="feed-item ">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/JejBSrj5ZxITga3o.jpg')">
                                                    <a href="/article" class="info-tape">
                                                        СТАТЬЯ
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            1494
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/article/sovety/top-5-shkol-kitayskogo-yazyka-v-sankt-peterburge"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>Топ-5 школ китайского языка в Санкт-Петербурге</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">16 августа 2022 | 10:34</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="tests-tab" class="tabs ">
                                <div class="feed-list-wrapper">
                                    <div class="feed-list-row">

                                        <div class="feed-item tests">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/tY28wkxIIqa7onlQ.jpg')">
                                                    <a href="/test" class="info-tape">
                                                        ТЕСТ
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            14954
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/test/grammaticheskie-testy/test-nelichnye-formy-glagola-non-finite-forms-of-the-verb"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>Тест "Неличные формы глагола. Non-Finite Forms of the
                                                                Verb"</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">26 ноября 2019 | 12:04</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="feed-item tests">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/PiakrEL0WBaqh3cI.jpg')">
                                                    <a href="/test" class="info-tape">
                                                        ТЕСТ
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            9015
                                                        </div>

                                                    </div>
                                                </div>
                                                <a href="/test/grammaticheskie-testy/artikli-v-ustoychivyh-vyrazheniyah"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>Артикли в устойчивых выражениях</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">14 ноября 2019 | 12:30</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="feed-item tests">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/01X66sfgWx6nSrWv.png')">
                                                    <a href="/test" class="info-tape">
                                                        ТЕСТ
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            9552
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/test/grammaticheskie-testy/formy-gerundiya"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>Формы герундия</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">23 октября 2019 | 11:19</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="feed-item tests">
                                            <div class="feed-item-inner">
                                                <div class="feed-item-header"
                                                     style="background-image: url('/uploads/server/GeBfQyMqJRm66z3V.jpg')">
                                                    <a href="/test" class="info-tape">
                                                        ТЕСТ
                                                    </a>
                                                    <div class="activity-info">
                                                        <div class="activity-views">
                                                            7279
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="/test/grammaticheskie-testy/zalogi-v-angliyskom"
                                                   class="feed-item-content-link">
                                                    <div class="feed-item-content-link-inner">
                                                        <div class="feed-item-content">
                                                            <h4>Залоги в английском</h4>
                                                        </div>
                                                        <div class="feed-item-footer">
                                                            <div class="publication-date">14 октября 2019 | 12:32</div>
                                                            <div class="arrow-to-right"></div>
                                                        </div>
                                                    </div>
                                                    <div class="arrows-border"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock content %}
<footer class="footer" id="site-footer">


    <div class="container">
        <div class="row footer-row">
            <div class="col-lg-4 col-md-8">
                <div class="footer-logo-wrap">
                    <a class="logo-wrap" href="/">
                            <span class="logo">
                                <img src="/assets/images/study/study-logo-footer.svg" alt="">
                            </span>
                        <span class="logo-name">
                                sts
                                
                            </span>
                    </a>
                    <div>Информационно-образовательный портал</div>
                </div>
                <div class="footer-contacts">
                    <a href="tel:+7 (499) 995-06-56" class="footer-phone">+7 (499) 111 111 11</a>
                    <a href="mailto:info@tst.ru" class="footer-email">info@sts.ru</a>
                </div>
            </div>
        </div>
    </div>

</footer>

<div class="off-canvas-overlay"></div>
<div id="up" class="button-up-wrap">
    <div class="button-up"></div>
</div>

</body>
</html>